.hover {
  a {
    color: #677ae4;
  }
  path {
    fill: #516bff;
    background-color: #516bff;
  }
  background-color: rgb(216, 216, 216);
  cursor: pointer;
}

.dashboard-admin-content-section {
  display: none;
}
.dashboard-admin-content-section.active {
  display: block;
}
