.navbar-dashboard-admin {
  background-color: rgb(255, 255, 255);
  max-width: 18%;
  height: 100vh;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}
.navbar-dashboard-admin-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: transparent;
  border-bottom: 2px solid black;
}
.navbar-dashboard-admin-logo p {
  font-size: 15px;
}
.navbar-dashboard-admin-menu {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-left: 70px;
}
.navbar-dashboard-admin-menu a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: bold;
}
.navbar-dashboard-admin-menu-list {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 70%;
  padding: 15px;
  border-radius: 10px;
}
.navbar-dashboard-admin-menu-list:hover {
  a {
    color: #677ae4;
  }
  path {
    fill: #516bff;
    background-color: #516bff;
  }
  background-color: rgb(216, 216, 216);
  cursor: pointer;
}
.dashboard-admin-content {
  flex: 1;
  margin-left: 18%;
  padding: 20px;
  overflow-y: auto;
}
.dashboard-admin-content-section {
  display: none;
}
.dashboard-admin-content-section.active {
  display: block;
}
