.navbar-data-kosan {
  background-color: #ececec;
  max-width: 18%;
  padding: 15px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}
.navbar-data-kosan-logo {
  padding: 20px;
}
.navbar-data-kosan-menu {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-left: 50px;
}
.navbar-data-kosan-menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px;
  font-weight: bold;
}
.navbar-data-kosan-content {
  flex: 1;
  margin-left: 20%;
  margin-top: 1%;
  padding: 20px;
  overflow-y: auto;
}
.navbar-dashboard-content-container {
  display: none;
  gap: 10px;
  flex-direction: column;
  font-weight: bold;
}
.navbar-dashboard-content-container.active {
  display: flex;
}
.icon {
  fill: black;
}
.icon-active {
  fill: green;
}
.navbar-dashboard-content-container-form {
  margin-left: 20px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.navbar-dashboard-content-form-checkbox-item {
  display: flex;
  align-items: center;
  gap: 9px;
}
.navbar-dashboard-content-container-form p {
  font-weight: normal;
}
.navbar-dashboard-content-form {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: flex-start;
}

.navbar-dashboard-content-form input[type="text"],
.navbar-dashboard-content-form input[type="number"] {
  width: 30%;
  height: 25px;
}

.navbar-dashboard-content-form-radio {
  display: flex;
  align-items: center;
  gap: 10px;
}
.alamat textarea {
  width: 30%;
  height: 70px;
}
.radio-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.navbar-dashboard-content-data-kosan-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.navbar-dashboard-content-data-kosan-btn p {
  padding: 10px 20px;
  border: none;
  background: linear-gradient(95deg, #516bff, #8a38f5);
  border-radius: 5px;
  cursor: pointer;
  color: white;
}
.navbar-dashboard-content-data-kosan-btn button {
  padding: 10px 20px;
  border: none;
  background: rgb(6, 238, 6);
  border-radius: 5px;
  cursor: pointer;
  color: white;
}
