#modal-role {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: #754fa8;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  border-radius: 0% 50% 0% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-role-button {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: 100%;
}
.modal-role-button button {
  border: none;
  width: 100%;
  height: 2.5rem;
  border-radius: 0.5rem;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.modal-role-button-user button {
  background-color: #3b82f6;
}

.modal-role-button-owner button {
  background-color: #a855f7;
}
.modal-role-button-user button:hover {
  background-color: #2563eb;
}
.modal-role-button-owner button:hover {
  background-color: #9333ea;
}

.modal-role-button-user-content {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
}
.modal-role-button-user-content p {
  margin: 0;
  font-size: 1rem;
}

@media (max-width: 480px) {
}
