#modal-sigin-user {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.modal-card {
  position: relative;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.modal-card-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 400px;
}

.input-group {
  position: relative;
  width: 80%;
}

.input-group .icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: #777;
}

.input-group input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  border: none;
  border-bottom: 2px solid #535353;
  font-size: 15px;
}

.input-group input:focus {
  border-color: #6a5acd;
  outline: none;
}
.input-group input::placeholder {
  color: #535353;
  font-weight: bold;
}
.modal-card-form button {
  width: 80%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(95deg, #516bff, #8a38f5);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.modal-card-form button:hover {
  background: linear-gradient(95deg, #394cb4, #5b25a3);
}
.modal-sigin-have-account p {
  font-size: 14px;
  color: #535353;
}
.modal-sigin-have-account a {
  font-size: 14px;
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}
