.navbar-section {
  position: sticky;
  top: 0;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1001;
  background-color: white;
}
.navbar-logo img {
  height: 140px;
  width: auto;
}
.form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-right: 40px;
  font-weight: bold;
}
.form-button_login {
  color: #374151;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.form-button_login svg {
  fill: currentColor;
}

.form-button_login:hover {
  color: #af73ff;
}
.form-button button {
  padding: 3px 15px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  background: #000;
  color: white;
  cursor: pointer;
}

.form-button button:hover {
  color: #af73ff;
}
