.navbar-section {
  position: sticky;
  top: 0;
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1001;
  background-color: white;
}
.navbar-logo img {
  height: 8rem;
  width: auto;
}
.form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.7rem;
  margin-right: 2rem;
  font-weight: bold;
}
.form-button_login {
  color: #374151;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
}
.form-button_login svg {
  fill: currentColor;
}

.form-button_login:hover {
  color: #af73ff;
}
.form-button button {
  padding: 0.3rem 0.8rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  background: #000;
  color: white;
  cursor: pointer;
}

.form-button button:hover {
  color: #af73ff;
}
@media (max-width: 480px) {
  .form-button {
    margin-right: 1rem;
  }
}
